@use "../../styles/vars";

.introSection {
  position: relative;
  @include vars.flexbox();
  @include vars.flex-direction(column);
  @include vars.align-items(center);
  height: 100vh;
  overflow-y: auto;
  perspective: 10px;
}

.title {
  width: vars.$five-twelfths;
  text-align: center;

  .head {
    @include vars.header-font();
    margin: 0;
  }

  .subhead {
    @include vars.subhead-font();
    font-size: 2rem;
    margin: 0;
  }

}

.coinIcon {
  width: vars.$one-twelfth;
  position: relative;
  right: 50%;
  bottom: 10vw;
  transform-style: preserve-3d;
  transform: translateZ(-5px) scale(1.5);
}

.mainImageSection {
  width: vars.$nine-twelfths;
  @include vars.flexbox();
  @include vars.justify-content(center);
  position: relative;
  .imageOuterBorder {
    border: 1px solid vars.$black;
    width: calc(vars.$three-twelfths + 30px);
    height: calc(70vh + 30px);
    border-radius: 50% 50%;
  .mainImage {
    margin: auto;
    margin-top: 15px;
    width: vars.$three-twelfths;
    border: 1px solid vars.$black;
    height: calc(70vh + 2px);
    border-radius: 50% 50%;
    span {
      min-height: 70vh;
      border-radius: 50% 50%;
    }
  }
  }

  .mainLogo {
    position: absolute;
    width: vars.$one-twelfth;
    bottom: 20vh;
    left: 26%;
  }
}

.pillarIcon {
  position: relative;
  bottom: 30%;
  left: 45%;
  width: calc(vars.$one-twelfth - 2vw);
  transform-style: preserve-3d;
  transform: translateZ(-5px) scale(1.5);
}
