@use "../../styles/vars";

.introSection {
  @include vars.flexbox();
  @include vars.flex-direction(column);
  @include vars.align-items(center);
  width: 100vw;
  overflow-y: auto;
  perspective: 10px;
}

.subhead {
  @include vars.subhead-font();
}

.mainImageSection {
  width: vars.$nine-twelfths;
  @include vars.flexbox();
  @include vars.justify-content(center);
  position: relative;
  .mainImage {
    width: vars.$three-twelfths;
    border: 1px solid vars.$black;
    height: calc(70vh + 2px);
    border-radius: 50% 50%;
    span {
      min-height: 70vh;
      border-radius: 50% 50%;
    }
  }
  
  .mainLogo {
    position: absolute;
    width: vars.$one-twelfth;
    span {
    }
  }
}
