@use "../../styles/vars";

.visitSection {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  perspective: 10px;
  @include vars.flexbox();
  @include vars.justify-content(center);

  .infoColumn {
    width: vars.$six-twelfths;
    @include vars.flexbox();
    @include vars.flex-direction(column);
    text-align: center;
    h1 {
      margin: 0;
      @include vars.body-font();
      @include vars.subhead-font-size();
    }

    .topLeftInfo {
      position: relative;
      background-color: vars.$pink;
      min-height: 100vh;
      @include vars.flexbox();
      @include vars.flex-direction(column);
      @include vars.justify-content(center);
      @include vars.align-items(center);
      .hoursSection {
        .hoursInfo {
          @include vars.body-font();
        }
        .hoursHeadline {
          @include vars.subhead-font();
          font-size: 1.2rem;
          margin:0;
        }
      }
      .pizzaIcon {
        position: relative;
        width: vars.$one-twelfth;
        right: 20%;
        transform-style: preserve-3d;
        transform: translateZ(-7px) scale(1);
      }
      .hourIcon {
        position: relative;
        width: vars.$one-twelfth;
        left: 20%;
        transform-style: preserve-3d;
        transform: translateZ(-3px) scale(1);
      }
  }

  .bottomLeftInfo {
    @include vars.flexbox();
    @include vars.flex-direction(column);
    @include vars.justify-content(center);
    @include vars.align-items(center);
    background-color: vars.$green;
    min-height: 100vh;
    .location {
      @include vars.subhead-font();
      :hover {
        cursor:pointer;
      }
    }
  }
  }
  .imageSideSection {
    position: sticky;
    top: 0;
      width: vars.$six-twelfths;
      border: 1px solid vars.$black;
      min-height: 100vh;
      @include vars.flexbox();
      @include vars.justify-content(center);
      @include vars.align-items(center);
      .image {
        width: calc(vars.$six-twelfths - 30px);
        border: 1px solid vars.$black;
        height: calc(100vh - 30px);
        overflow-y: hidden;
      }
  }
}
