@use "../../styles/vars";

.visitSection {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  perspective: 10px;
  @include vars.flexbox();

  .infoColumn {
    position: relative;
    width: vars.$six-twelfths;
    @include vars.flexbox();
    @include vars.flex-direction(column);
    text-align: center;
    .topLeftInfo {
      position: relative;
      background-color: vars.$pink;
      min-height: 100vh;
      @include vars.flexbox();
      @include vars.flex-direction(column);
      @include vars.justify-content(center);
      @include vars.align-items(center);
      .hoursSection {
        h1 {
          margin: 0;
          @include vars.body-font();
          @include vars.subhead-font-size();
        }
        .hoursInfo {
          @include vars.body-font();
        }
        .hoursHeadline {
          @include vars.subhead-font();
          font-size: 1.2rem;
          margin:0;
        }
      }
      .pizzaIcon {
        position: relative;
        width: vars.$one-twelfth;
        right: 20%;
        transform-style: preserve-3d;
        transform: translateZ(-7px) scale(1);
      }
      .hourIcon {
        position: relative;
        width: vars.$one-twelfth;
        left: 20%;
        transform-style: preserve-3d;
        transform: translateZ(-3px) scale(1);
      }
  }

  .bottomLeftInfo {
    background-color: vars.$green;
    min-height: 100vh;
  }
  }
  .imageSideSection {
    position: sticky;
    top: 0;
      width: vars.$six-twelfths;
      border: 1px solid vars.$black;
      .image {
        width: vars.$five-twelfths;
        border: 1px solid vars.$black;
        height: 50%;
        span, img, div{
          min-height: 50vh;
        }
      }
  }
}
