@use "../../styles/vars";

.visitSection {
  position: relative;
  height: 100vh;
  @include vars.flexbox();

  .infoColumn {
    width: vars.$six-twelfths;
    @include vars.flexbox();
    @include vars.flex-direction(column);
    text-align: center;
    .topLeftInfo {
      position: relative;
      background-color: vars.$pink;
      min-height: 100vh;
      @include vars.flexbox();
      @include vars.flex-direction(column);
      @include vars.justify-content(center);
      @include vars.align-items(center);
      .hoursSection {
        h1 {
          margin: 0;
        }
        .hoursHeadline {
          @include vars.subhead-font();
          font-size: 1.2rem;
          margin:0;
        }
      }
  }

  .bottomLeftInfo {
    background-color: vars.$green;
  }
  }
  .imageSideSection {
    position: sticky;
    top: 0;
      width: vars.$six-twelfths;
      border: 1px solid vars.$black;
      .image {
        width: vars.$five-twelfths;
        border: 1px solid vars.$black;
        height: 50%;
        span, img, div{
          min-height: 50vh;
        }
      }
  }
}
